body {
	background-color: #F7F6F0;
	display: flex;
	padding-top: 50px;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 60px;
	height: 60px;
	margin-bottom: 20px;
}

.h1 {
	font-size: 40px;
}

.h2 {
	font-size: 18px;
	color: #828282;
	margin-top: 20px;
}

.list {
	margin-top: 20px;
}

.link {
	margin-top: 200px;
}

.mobile-screen	{
	padding: 0 20%;
}

@media only screen and (max-width: 600px) {
	body {
		text-align: center;
		padding-top: 50px;
	}

	.list {
		list-style-type: none;
		padding: 0;
	}

	.mobile-screen	{
		padding: 40px 20px;
	}
}